body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #001e4d;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

#edit-profile-btn{
    background-color: white;
    color: #001e4d;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    width: auto;
    min-width: 80px;
}

.edit-profile-btn:hover {
    background-color: #ddd;
}


.dashboard-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.live-surveys, .submitted-surveys {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #001e4d;
    text-align: center;
}

.survey-list, #submitted-surveys {
    margin-top: 10px;
}

.survey-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #ffffff;
}

button {
    background-color: #001e4d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #002d72;
}


#logout-btn{
    background-color: white;
    color: #001e4d;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    width: auto;
    min-width: 80px;
}


