* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #001e4d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 90%;
    max-width: 500px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #001e4d;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    margin-bottom: 15px;
}

.input-container label {
    font-weight: 600;
}

.input-container input {
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #001e4d;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #002d72;
}

.toggle-form {
    margin-top: 20px;
    font-size: 14px;
}

.toggle-form a {
    color: #001e4d;
    font-weight: 600;
    cursor: pointer;
}

.message {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#submitted-responses-section {
    margin-top: 30px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#submitted-responses-section h2 {
    color: #001e4d;
}

.response-item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
}

.response-item p {
    margin: 5px 0;
}

h2{
    margin-bottom: 15px;
}